*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #9fb0c2;
}

#input-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-section h1{
    font-size: 40px;
}

#input-section label {
    font-size: 25px;
    margin-bottom: 20px;
}

#input-section input {
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
}



#quiz-container {
    display: flex;
    height: calc(100vh - 50px);
    justify-content: space-around;
    align-items: center;
}

.container {
    position: relative;
    width: 40%;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    height: calc(100% - 150px);
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .questionHeading{
    font-size: 36px;
}

.container .questionProblem {
    font-size: 24px;
}

.btn {
    border: 1px solid hsl(200, 13%, 48%);
    background-color: hsl(200, 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: hsl(200, 94%, 14%);
}

.question,.answer {
    padding: 10px;
    font-size: 24px;
}
.question {
    font-size: 20px;
    text-align: center;
}
  

.start-btn, .next-btn,.show-result-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.next-btn {
    margin-top: 20px;
}

#input-section button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.quizArenaButton {
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 20px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.green {
    color : green;
}

.black {
    color: black;
}

.result {
    position: absolute;
    bottom: -60px;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    left: 0;
}

.hide {
    display: none !important;
}

#container-one-answer-container, #container-second-answer-container{
    width: 100%;
    font-size: 20px;
    height: 100%;
    overflow: auto;
}